<div class="container">
    <h2 class="text-center" style="margin-top: 2%;">List of Admin</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Username</th>
                <th>Password</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let admin of adminList;let i = index">
                <th>{{i+1}}</th>
                <td>{{admin.name}}</td>
                <td>{{admin.username}}</td>
                <td>{{admin.password}}</td>
                <td>
                    <button mat-raised-button color="primary" (click)="onUpdate(admin.id)">Update</button>
                    <button mat-raised-button color="warn" type="button" (click)="onDelete(admin.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>