<div class="container">
    <h2 class="text-center">Admin Login</h2>
    <form ngForm>
        <mat-form-field class="full-width">
            <mat-label>Username</mat-label>
            <input type="text" matInput #username="ngModel" name="username" ngModel required>
            <mat-error *ngIf="username.invalid && username.touched">
                <span *ngIf="username.errors?.['required']">Field required</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput #password="ngModel" name="password" ngModel required>
            <mat-error *ngIf="password.invalid && password.touched">
                <span *ngIf="password.errors?.['required']">Field required</span>
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent"><mat-icon>login</mat-icon></button>
    </form>
</div>