<div class="conatiner">
    <mat-card>
        <mat-card-header>
            <h2>Welcome {{currentUser.name}}</h2>
        </mat-card-header>
        <mat-card-actions>
            <button mat-flat-button class="button-design" (click)="balanceDialog()">Balance</button>
            <button mat-flat-button class="button-design">Logout</button>
        </mat-card-actions>
    </mat-card>

    <mat-tab-group>
        <mat-tab label="Statement">Statement</mat-tab>
        <mat-tab label="Fund transfer"><app-fund-transfer [user]="currentUser"></app-fund-transfer></mat-tab>
        <mat-tab label="Withdraw"><app-widthdraw [user]="currentUser"></app-widthdraw></mat-tab>
        <mat-tab label="Deposite"><app-deposite [user]="currentUser"></app-deposite></mat-tab>
        <mat-tab label="A/c Details">
            <app-portal-account-details [user]="currentUser"></app-portal-account-details>
        </mat-tab>
    </mat-tab-group>
</div>